doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/application.css")
    script(type="text/javascript" src="/application.js")
  body
    .wrapper
      nav.top-bar(data-topbar='', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='') Time Series Viewer
        section.top-bar-section
          ul.left
            li.upload-file-item
              a.upload-file Upload file
            li
              .file
                input(type="file" id="file")
              a.file-name
          ul.right
            li
              a(href='', class='js-link', data-url="") All Plots
            li
              a(href='single_plot', class='js-link', data-url="single_plot") Single Plot

      .container
        #main_region
