body
  background-color: #fdfdfd

.container
  center(1100px)
  box-sizing: border-box
  padding-top: 50px
  padding-bottom: 50px

.plot
  position: relative

.plot-container
  margin: 0 0 70px 0
  position: relative

.x-axis-value
.y-axis-value
  position: absolute
  font-size: 12px
  color: #999

.y-axis-value
  top: -10px
  left: 35px

.x-axis-value
  bottom: 20px
  right: -15px

.upload-file
  background: #b1ca59 !important

.file
  display: none

.file-name
  color: #ccc !important
  cursor: default !important

.choise-list
  center(1075px)
  padding: 10px 20px
  border: 1px solid rgba(#cfcfcf, 0.5)
  box-sizing: border-box
  margin-top: 30px
  clearfix()

  li
    list-style-type: none
    float: left

h1
  a
    color: #b1ca59 !important
