.container
  center(1100px)
  box-sizing: border-box
  padding-top: 50px
  padding-bottom: 50px

.plot
  position: relative

.plot-container
  margin: 0 0 70px 0
  position: relative

.x-axis-value
.y-axis-value
  position: absolute
  font-size: 12px

.y-axis-value
  top: -10px
  left: 35px

.x-axis-value
  bottom: 20px
  right: -15px

.file
  display: none

.file-form
  border: 2px dashed rgba(#cfcfcf, 0.8)
  padding: 20px
  box-sizing: border-box
  border-radius: 3px
  position: absolute
  width: 600px
  height: 150px
  top: 50%
  left: 50%
  margin-left: -300px
  margin-top: (-75 + 22.5)px

  .button
    width: 100%
    border-radius: 2px

  .file-name
    display: block
    width: 100%
    font-size: 18px
    text-align: center

.choise-list
  center(1075px)
  padding: 20px
  border: 1px solid rgba(#cfcfcf, 0.5)
  box-sizing: border-box
  margin-top: 30px
  clearfix()

  li
    list-style-type: none
    float: left
