.container
  center(1200px)
  box-sizing: border-box
  padding-top: 50px
  padding-bottom: 50px

.plot
  position: relative

.plot-container
  margin: 0 0 100px 0
  position: relative

  .flot-y-axis
    // left: -50px !important

    > div
      left: 0 !important

.x-axis-value
.y-axis-value
  position: absolute
  font-size: 14px
  font-style: italic

.y-axis-value
  top: -20px
  left: 0

.x-axis-value
  bottom: 0
  right: -30px

.file
  display: none

.file-form
  border: 2px dashed #666
  padding: 20px
  box-sizing: border-box
  border-radius: 10px
  background-color: rgba(#cfcfcf, 0.2)
  position: absolute
  width: 600px
  height: 150px
  top: 50%
  left: 50%
  margin-left: -300px
  margin-top: (-75 + 22.5)px

  .button
    width: 100%
    border-radius: 2px

  .file-name
    display: block
    width: 100%
    font-size: 18px
    text-align: center
